## Fetch Take Home Test: Analytics Engineer

This document is supporting material for exploring the JSON files and preparing for first step which is to create a diagram of a new `Structured Releational Data Model`

In [1]:
# These are the required imports.

import pandas as pd
import numpy as np
from datetime import datetime
from ast import literal_eval

### Exploring the users.json

In [4]:
# Reading users.json.

df_users = pd.read_json('data/users.json')

In [5]:
# Checking users data in df_users.

df_users.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [6]:
# Let's unfold the _id map. 

df_users['_id'] = df_users['_id'].apply(
            lambda x: x['$oid'])

In [7]:
# Checking Nan values in users df.

df_users.isnull().any()

_id             False
active          False
createdDate     False
lastLogin        True
role            False
signUpSource     True
state            True
dtype: bool

In [8]:
# Let's unfold and convert createdDate and lastLogin timestamp to datetime.

df_users['createdDate'] = df_users['createdDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)) if not pd.isna(x) else np.nan)

df_users['lastLogin'] = df_users['lastLogin'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)) if not pd.isna(x) else np.nan)

In [9]:
# Checking users data in df_users.

df_users.head(5)

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 09:24:04,2021-01-03 09:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 09:24:04,2021-01-03 09:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 09:24:04,2021-01-03 09:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 09:25:30,2021-01-03 09:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 09:24:04,2021-01-03 09:25:37,consumer,Email,WI

In [14]:
# Checking column names and types.

df_users.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    datetime64[ns]
 3   lastLogin     433 non-null    datetime64[ns]
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), datetime64[ns](2), object(4)
memory usage: 23.8+ KB

---
### Exploring the brands.json

In [15]:
# Reading brands.json.

df_brands = pd.read_json('data/brands.json')

In [16]:
# Checking column names and types.

df_brands.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

In [18]:
# Checking Nan values in users df.

df_brands.isnull().any()

_id             False
barcode         False
category         True
categoryCode     True
cpg             False
name            False
topBrand         True
brandCode        True
dtype: bool

In [19]:
# Let's unfold the _id map. 

df_brands['_id'] = df_brands['_id'].apply(
            lambda x: x['$oid'])

In [20]:
df_brands.head(10)

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827
5,601ac142be37ce2ead43755b,511111719885,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146091,0.0,TEST BRANDCODE @1612366146091
6,601ac142be37ce2ead43755c,511111219897,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146133,0.0,TEST BRANDCODE @1612366146133
7,5cdad0f5166eb33eb7ce0faa,511111104810,Condiments & Sauces,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",J.L. Kraft,NaN,J.L. KRAFT
8,5ab15636e4b0be0a89bb0b07,511111504412,Canned Goods & Soups,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '5a734034e4b0...",Campbell's Home Style,0.0,CAMPBELLS HOME STYLE
9,5c408e8bcd244a1fdb47aee7,511111504788,Baking,NaN,"{'$ref': 'Cogs', '$id': {'$oid': '59ba6f1ce4b0...",test,NaN,TEST

---
### Exploring the receipts.json

In [21]:
# Reading Receipts.json

df_receipts = pd.read_json('data/receipts.json')

In [22]:
# Checking column names and types.

df_receipts.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

In [24]:
# Checking Nan values in users df.

df_receipts.isnull().any()

_id                        False
bonusPointsEarned           True
bonusPointsEarnedReason     True
createDate                 False
dateScanned                False
finishedDate                True
modifyDate                 False
pointsAwardedDate           True
pointsEarned                True
purchaseDate                True
purchasedItemCount          True
rewardsReceiptItemList      True
rewardsReceiptStatus       False
totalSpent                  True
userId                     False
dtype: bool

In [25]:
df_receipts.head(10)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
5,{'$oid': '5ff1e1e40a7214ada1000566'},750.0,"Receipt number 1 completed, bonus point schedu...",{'$date': 1609687524000},{'$date': 1609687524000},{'$date': 1609687525000},{'$date': 1609687530000},{'$date': 1609687525000},750.0,{'$date': 1609601124000},1.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3
6,{'$oid': '5ff1e1cd0a720f052300056f'},5.0,All-receipts receipt bonus,{'$date': 1609687501000},{'$date': 1609687501000},{'$date': 1609687502000},{'$date': 1609687502000},{'$date': 1609687502000},5.0,{'$date': 1609687501000},1.0,"[{'brandCode': 'MISSION', 'competitorRewardsGr...",FINISHED,2.23,5ff1e194b6a9d73a3a9f1052
7,{'$oid': '5ff1e1a40a720f0523000569'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687460000},{'$date': 1609687460000},{'$date': 1609687461000},{'$date': 1609687461000},{'$date': 1609687461000},500.0,{'$date': 1609027200000},1.0,"[{'barcode': '046000832517', 'brandCode': 'BRA...",FINISHED,10.00,5ff1e194b6a9d73a3a9f1052
8,{'$oid': '5ff1e1ed0a7214ada100056e'},5.0,All-receipts receipt bonus,{'$date': 1609687533000},{'$date': 1609687533000},{'$date': 1609687534000},{'$date': 1609687538000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,20.00,5ff1e1eacfcf6c399c274ae6
9,{'$oid': '5ff1e1eb0a7214ada100056b'},250.0,"Receipt number 3 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},250.0,{'$date': 1609632000000},3.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,20.00,5ff1e1eacfcf6c399c274ae6

In [28]:
# Let's unfold the _id map. 

df_receipts['_id'] = df_receipts['_id'].apply(
            lambda x: x['$oid'])

In [30]:
# Let's unfold and convert createDate, dateScanned, finishedDate, modifyDate, pointsAwardedDate and purchaseDate timestamp to datetime.
# Here, we need to handle NaN for finishedDate, pointsAwardedDate and purchaseDate

df_receipts['createDate'] = df_receipts['createDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)))

df_receipts['dateScanned'] = df_receipts['dateScanned'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)))

df_receipts['finishedDate'] = df_receipts['finishedDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)) if not pd.isna(x) else np.nan)

df_receipts['modifyDate'] = df_receipts['modifyDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)))

df_receipts['pointsAwardedDate'] = df_receipts['pointsAwardedDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)) if not pd.isna(x) else np.nan)

df_receipts['purchaseDate'] = df_receipts['purchaseDate'].apply(
            lambda x: datetime.fromtimestamp(int(x["$date"]/1000)) if not pd.isna(x) else np.nan)

In [31]:
df_receipts.head(10)

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:36,2021-01-03 09:25:31,500.0,2021-01-02 18:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:48,2021-01-03 09:24:43,150.0,2021-01-02 09:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 09:25:37,2021-01-03 09:25:37,NaT,2021-01-03 09:25:42,NaT,5.0,2021-01-02 18:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:39,2021-01-03 09:25:34,5.0,2021-01-02 18:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 09:25:06,2021-01-03 09:25:06,2021-01-03 09:25:11,2021-01-03 09:25:11,2021-01-03 09:25:06,5.0,2021-01-02 09:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052
5,5ff1e1e40a7214ada1000566,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 09:25:24,2021-01-03 09:25:24,2021-01-03 09:25:25,2021-01-03 09:25:30,2021-01-03 09:25:25,750.0,2021-01-02 09:25:24,1.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,3.25,5ff1e1e4cfcf6c399c274ac3
6,5ff1e1cd0a720f052300056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:01,2021-01-03 09:25:01,2021-01-03 09:25:02,2021-01-03 09:25:02,2021-01-03 09:25:02,5.0,2021-01-03 09:25:01,1.0,"[{'brandCode': 'MISSION', 'competitorRewardsGr...",FINISHED,2.23,5ff1e194b6a9d73a3a9f1052
7,5ff1e1a40a720f0523000569,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:24:20,2021-01-03 09:24:20,2021-01-03 09:24:21,2021-01-03 09:24:21,2021-01-03 09:24:21,500.0,2020-12-26 18:00:00,1.0,"[{'barcode': '046000832517', 'brandCode': 'BRA...",FINISHED,10.00,5ff1e194b6a9d73a3a9f1052
8,5ff1e1ed0a7214ada100056e,5.0,All-receipts receipt bonus,2021-01-03 09:25:33,2021-01-03 09:25:33,2021-01-03 09:25:34,2021-01-03 09:25:38,2021-01-03 09:25:34,5.0,2021-01-02 18:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,20.00,5ff1e1eacfcf6c399c274ae6
9,5ff1e1eb0a7214ada100056b,250.0,"Receipt number 3 completed, bonus point schedu...",2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:36,2021-01-03 09:25:31,250.0,2021-01-02 18:00:00,3.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,20.00,5ff1e1eacfcf6c399c274ae6

In [33]:
# Finding all the attributes in receiptItemList

item_list_attrs = set()

for i, row in df_receipts.iterrows():
    if row.get('rewardsReceiptItemList') is np.nan: 
        continue
    for x in row.get('rewardsReceiptItemList'):
        item_list_attrs.update(list(x.keys()))

print(item_list_attrs)

{'userFlaggedQuantity', 'priceAfterCoupon', 'competitiveProduct', 'discountedItemPrice', 'quantityPurchased', 'rewardsGroup', 'originalReceiptItemText', 'originalMetaBriteQuantityPurchased', 'originalMetaBriteBarcode', 'deleted', 'itemNumber', 'competitorRewardsGroup', 'originalMetaBriteDescription', 'pointsPayerId', 'originalMetaBriteItemPrice', 'finalPrice', 'needsFetchReview', 'barcode', 'needsFetchReviewReason', 'metabriteCampaignId', 'pointsNotAwardedReason', 'pointsEarned', 'description', 'partnerItemId', 'userFlaggedBarcode', 'rewardsProductPartnerId', 'brandCode', 'userFlaggedNewItem', 'itemPrice', 'preventTargetGapPoints', 'originalFinalPrice', 'targetPrice', 'userFlaggedPrice', 'userFlaggedDescription'}

In [34]:
# Unnesting the rewardsReceiptItemList column

df_receipts = df_receipts.explode('rewardsReceiptItemList')
df_receipts.reset_index(inplace=True)

In [35]:
# Some rewardsReceiptItemList are Nan so handle that case

df_receipts = df_receipts.fillna({'rewardsReceiptItemList':'{}'})

df_receipts['rewardsReceiptItemList'] = df_receipts['rewardsReceiptItemList'].apply(lambda x:str(x))
df_receipts['rewardsReceiptItemList'] = df_receipts['rewardsReceiptItemList'].apply(literal_eval)

In [36]:
df_receipts_normalized = pd.json_normalize(df_receipts['rewardsReceiptItemList'],errors='ignore',record_prefix='rewardsReceiptItemList')\
.add_prefix('rewardsReceiptItemList.')

In [37]:
df_receipts_final = pd.merge(df_receipts, df_receipts_normalized, left_index=True, right_index=True, how='outer')

In [38]:
df_receipts_final.head(10)

,index,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,...,rewardsReceiptItemList.itemNumber,rewardsReceiptItemList.originalMetaBriteQuantityPurchased,rewardsReceiptItemList.pointsEarned,rewardsReceiptItemList.targetPrice,rewardsReceiptItemList.competitiveProduct,rewardsReceiptItemList.originalFinalPrice,rewardsReceiptItemList.originalMetaBriteItemPrice,rewardsReceiptItemList.deleted,rewardsReceiptItemList.priceAfterCoupon,rewardsReceiptItemList.metabriteCampaignId
0,0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:31,2021-01-03 09:25:36,2021-01-03 09:25:31,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:48,2021-01-03 09:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:43,2021-01-03 09:24:48,2021-01-03 09:24:43,150.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 09:25:37,2021-01-03 09:25:37,NaT,2021-01-03 09:25:42,NaT,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:34,2021-01-03 09:25:39,2021-01-03 09:25:34,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 09:25:06,2021-01-03 09:25:06,2021-01-03 09:25:11,2021-01-03 09:25:11,2021-01-03 09:25:06,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 09:25:06,2021-01-03 09:25:06,2021-01-03 09:25:11,2021-01-03 09:25:11,2021-01-03 09:25:06,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5,5ff1e1e40a7214ada1000566,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-03 09:25:24,2021-01-03 09:25:24,2021-01-03 09:25:25,2021-01-03 09:25:30,2021-01-03 09:25:25,750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,6,5ff1e1cd0a720f052300056f,5.0,All-receipts receipt bonus,2021-01-03 09:25:01,2021-01-03 09:25:01,2021-01-03 09:25:02,2021-01-03 09:25:02,2021-01-03 09:25:02,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,7,5ff1e1a40a720f0523000569,500.0,"Receipt number 2 completed, bonus point schedu...",2021-01-03 09:24:20,2021-01-03 09:24:20,2021-01-03 09:24:21,2021-01-03 09:24:21,2021-01-03 09:24:21,500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exploring Relations between entities in the Data Model

In [39]:
# For Foreign Keys

# Unable to join on barcode -> So cannot be used as a F.K.
pd.merge(df_receipts_final, df_brands, left_on='rewardsReceiptItemList.barcode', right_on='barcode')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [40]:
df_receipts_final['rewardsReceiptItemList.barcode']

0               4011
1               4011
2       028400642255
3                NaN
4               4011
            ...
7376             NaN
7377             NaN
7378      B076FJ92M4
7379      B07BRRLSVC
7380             NaN
Name: rewardsReceiptItemList.barcode, Length: 7381, dtype: object

In [41]:
df_brands['barcode']

0       511111019862
1       511111519928
2       511111819905
3       511111519874
4       511111319917
            ...
1162    511111116752
1163    511111706328
1164    511111416173
1165    511111400608
1166    511111019930
Name: barcode, Length: 1167, dtype: int64

In [47]:
# For Foreign Keys

# Receipt and User join can create a FK in receipt that associated to PK in User. 

pd.merge(df_receipts_final, df_users, left_on='userId', right_on='_id').groupby('_id_x').size().reset_index(name='counts').sort_values(by='counts', ascending=False).counts.sum()

23628

### Finding if role can be separated into a different table?

As we can see that there are two roles: consumer and fetch-staff, we can separate it into a different table. 
**Reason**: For the future adding new roles will be easier and it will also take care of the case where you want a new role but not assign it immediately!

In [50]:
df_users.groupby('role').size().reset_index(name='user_counts').sort_values(by='user_counts', ascending=False)

          role  user_counts
0     consumer          413
1  fetch-staff           82

### Finding if category can be separated into a different table?

In [52]:
df_brands.isnull().any()

_id             False
barcode         False
category         True
categoryCode     True
cpg             False
name            False
topBrand         True
brandCode        True
dtype: bool

In [56]:
df_brands.groupby('category').size().reset_index(name='category_cnt').sort_values(by='category_cnt', ascending=False)

                       category  category_cnt
1                        Baking           369
4             Beer Wine Spirits            90
22                       Snacks            75
8                Candy & Sweets            71
5                     Beverages            63
19                    Magazines            44
17            Health & Wellness            44
7            Breakfast & Cereal            40
16                      Grocery            39
12                        Dairy            33
11          Condiments & Sauces            27
15                       Frozen            24
21                Personal Care            20
0                          Baby            18
9          Canned Goods & Soups            12
2                        Beauty             9
10  Cleaning & Home Improvement             6
14                         Deli             6
3        Beauty & Personal Care             6
13         Dairy & Refrigerated             5
6                Bread & Bakery             5
18                    Household             5
20                      Outdoor             1

As there are alot of categories we can create a separate table for them.
Again the same reason for having a different table: 
**Reason**: In the future adding new categories will be easier and it will also take care of the case where you want a new category but not have any item in that! Or If you had an item but is no longer there.